.leftNavTop {
  background-color: #212121;
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important; }
  .leftNavTop .leftNavTop-image {
    padding-top: 40px; }
  .leftNavTop .leftNavTop-name {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #e0e0e0; }
  .leftNavTop .leftNavTop-tab {
    font-size: 25px;
    color: #e0e0e0;
    padding-bottom: 30px; }
  .leftNavTop .leftNavTop-label {
    color: #9e9e9e;
    font-size: 11px; }
.description {
  font-size: 14px;
  line-height: 20px; }
  .description h3 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold; }
  .description h4 {
    font-size: 16px;
    margin-top: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    font-weight: bold; }
  .description ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 16px; }
  .description p {
    margin: 8px 0;
    font-size: 14px;
    line-height: 20px; }
  .description strong {
    font-weight: 500; }
  .description img {
    width: 100%;
    margin-top: 8px; }

.mediawrap {
  position: relative; }
  .mediawrap .button-right-bottom {
    position: absolute;
    bottom: 16px;
    right: 16px; }
  .mediawrap .button-left-bottom {
    position: absolute;
    bottom: 16px;
    left: 16px; }
#login-box .loginLogo {
  margin-top: 50px;
  margin-bottom: 50px; }

@media (min-width: 64em) {
  #login-box {
    /* desktop */
    padding-top: 10%; }
    #login-box form {
      background-color: #FFF;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.17); }
    #login-box .loginLogo {
      margin-top: 0px;
      margin-bottom: 0px; } }

.row-top {
  margin: 0px; }
#invited-box {
  padding-top: 10%; }
  #invited-box h1 {
    font-size: 26px;
    color: #444444;
    margin-bottom: 5px; }
  #invited-box form {
    margin-top: 40px; }
  #invited-box .or {
    margin-top: 0px;
    margin-bottom: 13px; }
  @media (min-width: 64em) {
    #invited-box {
      /* desktop */ }
      #invited-box form {
        background-color: #FFF;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.17); }
      #invited-box .or {
        margin-top: 10px;
        margin-bottom: 10px; } }
  #invited-box p {
    font-size: 16px;
    color: #918F8F;
    font-weight: 200; }
.description {
  font-size: 14px;
  line-height: 20px; }
  .description h3 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold; }
  .description h4 {
    font-size: 16px;
    margin-top: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    font-weight: bold; }
  .description ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 16px; }
  .description p {
    margin: 8px 0;
    font-size: 14px;
    line-height: 20px; }

.mediawrap {
  position: relative; }
  .mediawrap .button-right-bottom {
    position: absolute;
    bottom: 16px;
    right: 16px; }
  .mediawrap .button-left-bottom {
    position: absolute;
    bottom: 16px;
    left: 16px; }

/*# sourceMappingURL=components.css.map*/
