html, body {
    height: 100%;
}

body {
    margin: 0px;
}

#app {
    margin: 8px;
}

#splash {
    background-color: #333333;
    width: 100%;
    height: 100%;
}

#splash img {
    width: 80%;
    position: relative;
    top: 50%;
    margin-top: -200px;
    margin-left: 10%;
}

@media (min-width: 1200px) {
    #splash img {
        width: 40%;
        margin-left: 30%;
        margin-top: -150px;
    }
}
